<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
    <link rel="stylesheet" href="style-login.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
    <div id="app">
        <div class="login">
            <div class="box">
                <h2>Cadastrar</h2>
                <div class="box-item">
                    <div class="inputs">
                        <input v-model="userEmail" type="text" placeholder="Login">
                        <input v-model="userPassword" type="password" placeholder="Senha">
                    </div>
                    <div class="buttons">
                        <button type="submit" @click="cadastrar(userEmail, userPassword)">Cadastrar</button>
                        <button><a href="index.html">Entrar</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>
<script>
    new Vue({
        el: '#app',
        data: {
            userEmail: '',
            userPassword: ''
        },
        methods: {
            async cadastrar(userEmail, userPassword) {
                console.log()
                try {
                    const response = await fetch(`https://prova-2sem-webii.onrender.com/cadastrar`, {
                        method: 'POST',
                        origin: '*',
                        mode: "cors",
                        cache: "no-cache",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ userEmail, userPassword })
                    })
                    if (response.ok) {
                        window.location.assign('/login')
                    } else {
                        alert('Erro ao cadastrar')
                    }
                } catch (e) {
                    console.error('Erro ao realizar o login: ', e)
                }
            },
        }
    });
</script>