<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prova - Cleber e Sansão</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app" v-model="isHeroi">
        <div class="dashboard">
            <h2>Dashboard</h2>
            <div class="dashboard-column">
                <p>Turno</p>
                <p>Personagem</p>
                <p>Ação</p>
            </div>
            <div class="dashboard-movement">
                <div class="movements" v-for="(lista, index) in turnoLista">
                    <div>
                        {{index}}
                    </div>
                    <div>
                        {{lista.personagem}}
                    </div>
                    <div>{{lista.opcao}}</div>
                </div>
            </div>
        </div>
        <div class="layout-batalha">
            <div class="personagem">
                <div class="barra-vida" :style="{width: heroi.vida + '%', backgroundColor: corVida(heroi.vida)}">
                    {{heroi.vida}}</div>
                <div class="sprite">
                    <img src="img/xerxes.png" alt="">
                </div>
                <h1>Xerxes</h1>
                <div class="acoes">
                    <button @click="atacar(isHeroi)">Atacar</button>
                    <button @click="defender(isHeroi)">Defender</button>
                    <button @click="usarPocao(isHeroi)">Usar Poção</button>
                    <button @click="correr">Correr</button>
                </div>
            </div>
            <div class="personagem" :style="{backgroundColor: morrer()}">
                <div class="barra-vida" :style="{width: vilao.vida + '%', backgroundColor: corVida(vilao.vida)}">
                    {{vilao.vida}}</div>
                <div class="sprite"><img src="img/diego.jpg" alt=""></div>
                <h1>Diego</h1>
            </div>
        </div>
</body>

</html>

<script src="./index.js"></script>