body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

a {
    text-decoration: none;
    color: black;
}

.container-jogo {
    width: 100%;
    max-width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.dashboard {
    width: 360px;
    margin: 64px;
    height: 240px;
    padding: 32px;
    border: 2px solid rgb(134, 228, 207);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(231, 228, 228);
    border-radius: 10px;
    align-self: center;
}

.dashboard-top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin-bottom: 16px;
}

.dashboard-column {
    border: 1px solid #000;
    border-radius: 3px;
    background-color: rgb(247, 246, 246);
    display: flex;
    justify-content: space-around;
}

.dashboard-movement {
    overflow: auto;
    overflow-anchor: auto;
    height: 120px;

}

.movements {
    background-color: rgb(247, 246, 246);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid #000;
    border-radius: px;
}

.layout-batalha {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.personagem {
    background-color: rgb(231, 228, 228);
    border: 2px solid rgb(134, 228, 207);
    border-radius: 5px;
    margin: 64px;
    padding: 32px;
    width: 320px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.acoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

button {
    padding: 12px;
    gap: 32px;
    border-radius: 8px;
    border: none;
    margin: 4px 8px;
    background-color: rgb(97, 187, 97);
    cursor: pointer;
    transition: background-color 0.5, transform 0.2;
}

button:hover {
    background-color: rgb(77, 151, 77);
    transform: translateY(-4px);
}

button:active {
    transform: translateY(0px);
}

.barra-vida {
    align-items: center;
    height: 32px;
    background-color: green;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    border-radius: 10px;
    color: white;
}

/* Barra de vida estilo pokemon Verde Amarela Vermelha */

.sprite {
    align-self: center;
    height: 80px;
    width: 100%;
}

.sprite img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
}